*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-mobile{
    display: none;
}

.container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 60% 40%;
}

.container-left{
    display: flex;
    flex-direction: row;
    align-items: start;
    width: auto;
    height: 100vh;
    padding-left: 18px;
    background-color: #191A24;
    overflow: hidden;
}

.container-left-mobile{
    display: none;       
}

.container-left img{
    width: 280px;
    /* margin-top: 0.4rem; */
    height: fit-content;
}

.container-right{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}

.container-right .logo{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.logo-image{
    width: 48px;
    height: 48px;
}
.nama-logo{
    color: #3E334E;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 2rem */
}

.desc{
    width: 21.6875rem;
    color: #3E334E;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.875rem */
}

.title-login{
    align-self: stretch;
    color: #3E334E;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}

.form-login{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.label-form-login{
    align-self: stretch;
    color: #3E334E;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 1rem */
}

.email, .password{
    width: 100%;
    height: 56px;
    color: #3E334E;
    padding-left: 10px;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    border-radius: 0.5rem;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
    box-sizing: border-box;
    border: 1px solid #AFA2C3;
}

.email::placeholder, .password::placeholder{
    color: #3E334E;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
}

.password-toggle{
    position: relative;
}

.password-toggle i{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    cursor: pointer;
}

.remember-and-forgot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-family: "Inter";
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    color: #3E334E;
}

.remember{
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot-password{
    text-decoration: none;
    color: #3E334E;
}

.remember-label{
    color: #3E334E;
    margin-left: 0.2rem;
}

.list-button{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-login{
    width: 45%;
    height: 60px;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    background: rgba(62, 51, 78, 1);
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.btn-signup{
    width: 45%;
    height: 60px;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    border: 1px solid rgba(62, 51, 78, 1);
    background-color: white;
    color: rgba(62, 51, 78, 1);
    border-radius: 8px;
    cursor: pointer;
}

.bottom{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
}

.bottom-text{
    color: #3E334E;
    text-align: center;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 0.875rem */
}
.sosmed{
    display: flex;
    flex-direction: row;
    gap: 10%;
    justify-content: center;
}
.bottom-sosmed{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 40px;
    font-family: "Inter";
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    color: #3E334E;
    border: 1px solid rgba(175, 162, 195, 1);
    border-radius: 5px;
}