body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}
h1 {
  margin: 0;
  padding: 0;
}
h2 {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
}

/* header */
.header {
  width: 55%;
  height: 100vh;
  background-color: #191a24;
  overflow: hidden;
}
.headerMob {
  display: none;
}

.header .imgCont {
  display: grid;
  width: 100%;
  margin-left: 10px;
  grid-template-columns: auto auto auto;
}
.header .imgCont img {
  width: 250px;
  border-radius: 3%;
  filter: brightness(70%);
}
.header .imgCont .imgRow1 {
  margin-top: -30px;
}
.header .imgCont .col1 {
  margin-bottom: 18px;
}

.header .imgCont .imgRow2 {
  margin-top: -20px;
}
.header .imgCont .col2 {
  margin-bottom: 18px;
}
.header .imgCont .imgRow3 {
  margin-top: 20px;
}
.header .imgCont .col3 {
  margin-bottom: 18px;
}

/* Content */
.content {
  width: 45%;
  height: 100vh;
}

.content .contentCont {
  margin-left: 110px;
  margin-top: 50px;
}
.content .contentCont .company .companyName {
  display: flex;
}
.content .contentCont .company .companyName h1 {
  font-weight: bold;
  font-size: 32px;
  color: #3e334e;
}

.content .contentCont .company .desc h1 {
  font-weight: normal;
  font-size: 20px;
  color: #3e334e;
  width: 65%;
  margin-top: 20px;
}

.form {
  margin-top: 20px;
}

.form h1 {
  font-weight: bold;
  font-size: 32px;
  font-size: #3e334e;
}

.form form .email {
  margin-top: 20px;
}
.form form .email label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  font-size: #3e334e;
}
.form form .email input {
  width: 400px;
  height: 50px;
  border: 1px solid #afa2c3;
  border-radius: 10px;
  margin-top: 8px;
  font-size: 16px;
  color: #3e334e;
  font-weight: normal;
  padding-left: 10px;
}
.form form .password {
  margin-top: 24px;
}
.form form .password label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #3e334e;
}
.form form .password .ipCont {
  position: relative;
}
.form form .password .ipCont input {
  width: 400px;
  height: 50px;
  border: 1px solid #afa2c3;
  border-radius: 10px;
  margin-top: 8px;
  font-size: 16px;
  color: #3e334e;
  font-weight: normal;
  padding-left: 10px;
}

.form form .password .ipCont img {
  width: 24px;
  height: 24px;
  position: absolute;
  margin: 4% 0 0 -6%;
}
.rememberme {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}
.custom-checkbox {
  opacity: 0;
  position: absolute;
}

.custom-checkbox-label {
  cursor: pointer;
}

.custom-checkbox-label::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url("../asset/checkk.svg"); /* Ganti dengan path gambar Anda */
  background-size: cover;
  border: 2px solid #000;
  border-radius: 4px;
  margin-right: 5px;
}

.custom-checkbox:checked + .custom-checkbox-label::before {
  background-color: #3e334e;
  border-color: transparent;
}

.rememberme .forgotPassword {
  margin-right: 28%;
  margin-top: -2.5%;
}
.rememberme .forgotPassword p {
  font-size: 16px;
  color: #3e334e;
  text-decoration: underline;
}

.authentication {
  display: flex;
  width: 70%;
  justify-content: space-between;
}
.authentication .login button {
  background-color: #3e334e;
  color: white;
  width: 196px;
  height: 48px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: normal;
}
.authentication .signup button {
  background-color: white;
  color: #3e334e;
  border: 1px solid #3e334e;
  width: 196px;
  height: 48px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: normal;
}

.otherLogin {
  margin-top: 20px;
  width: 70%;
}
.otherLogin .textCont {
  display: flex;
  justify-content: center;
}

.otherLogin p {
  font-weight: normal;
  font-size: 14px;
  color: #3e334e;
}

.otherLogin .btnCont {
  display: flex;
  justify-content: space-between;
}
.otherLogin .btnCont button {
  background-color: white;
  border: 1px solid #afa2c3;
  width: 128px;
  height: 38px;
  border-radius: 4px;
  font-size: 14px;
  color: #3e334e;
}
@media only screen and (max-width: 728px) {
  body {
    display: block;
  }
  .header {
    display: none;
  }
  .headerMob {
    display: block;
    overflow: hidden;
    width: 100vw;
  }
  .content {
    width: 100%;
  }
  .content .contentCont {
    margin-left: 24px;
    margin-top: 32px;
  }
  .content .contentCont .company .desc h1 {
    font-size: 18px;
    width: 95%;
  }
  .form {
    margin-top: 32px;
  }

  .form h1 {
    font-weight: bold;
    font-size: 24px;
  }
  .form form .email {
    margin-top: 24px;
  }
  .form form .email input {
    width: 310px;
    height: 56px;
  }
  .form form .password .ipCont input {
    width: 310px;
    height: 56px;
  }
  .form form .password .ipCont img {
    margin: 7% 0 0 -10%;
  }
  .custom-checkbox-label {
    font-size: 16px;
  }
  .rememberme .forgotPassword {
    margin-right: 40px;
    margin-top: -4%;
  }
  .authentication {
    display: flex;
    width: 88%;
    justify-content: space-between;
  }
  .authentication .login button {
    width: 155px;
    height: 48px;
  }
  .authentication .signup button {
    width: 155px;
    height: 48px;
  }
  .otherLogin {
    margin-top: 24px;
    width: 88%;
  }
  .otherLogin .btnCont button {
    width: 105px;
  }
}
